<p-table [value]="customers">
    <ng-template pTemplate="header">
        <tr>
            <th>
                {{ "customers.name" | translate }}
            </th>
            <th>
                {{ "customers.addresses" | translate }}
            </th>
            <th>
                <button (click)="addCustomer()">Add</button>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>
                {{ customer.name | uppercase }}
            </td>
            <td>
                <ul>
                    <li *ngFor="let address of customer.addresses; let isLast=last; let i=index">
                        <div [ngClass]="{'alternate-bg': i%2===1}">
                            {{i}} {{ address.addressLine1}} - {{ address.zip }} {{ address.city}}
                        </div>
                        <hr *ngIf="!isLast">
                    </li>
                </ul>
            </td>
            <td>
                <button (click)="editCustomer(customer)">Edit</button>
            </td>
        </tr>
    </ng-template>
</p-table>